.price_car h2 .container-text-animation,
.express_colors h2 .container-text-animation{ 
      margin: 0;
  }

/* container */
.container_home{ 
    height: auto;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: transparent;
    overflow-x: hidden;
}  

body.dark .gradient_main-car{ 
    background: linear-gradient(0deg, var(--dark-mode-bg) 74.38%, var(--dark-mode-bg) 8.28%, rgba(241, 241, 241, 0.00) 100%); 
}

/* lines title */
.about-car_title h2,
.images-title h2,
.express_colors h2,
.start-price,
.overview-title h2{
    /* padding-left: 4rem; */
    display: flex;
    align-items: center;
    width: auto;
}
 
/* main-car */ 
.container_home .main-car{
    height: 900px;
    width: 100%;
    position: relative;   

    box-sizing: border-box;
    overflow: hidden; 
}

/* bg main-car */
.main-car .bgmain-car{
    width: 100%;
    height: 100%;
    position: absolute;

    max-width: 100vw;
    left: 0;
    top: 0;
    z-index: 0; 
}

.bgmain-car img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 
 
/* img main-car */
.main-car .bgImg{
    position: absolute;
    height: auto;
 
    z-index: 0;
    width: 100%;
    max-width: 1800px;
    user-select: none;
}

.bgImg img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* main-car content */
.main-car-content{
    position: relative;
    height: 80%;
    width: 87%;
    max-width: 1500px;

    margin: 0 auto; 
    padding-top: 5rem;

    align-items: start;
    justify-content: space-between;
}

.about_car-main-car{
    width: 400px;
    height: 300px; 
    position: relative;

    font-family: var(--font-prompt);
}

.about_car-main-car h2{
    color: #D9D9D9;
    font-size: 3.75rem; 
    font-style: italic; 
 
    text-align: center; 
    line-height: 0;

}

.about_car-main-car .lines{
    width: 310px;
    height: 9px; 
    gap: 0;
}

.lines .line{
    width: 33%;
    height: 100%; 
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    background-color: #5B99D4;
}

.lines .line:not(.lines .line:nth-child(1)){
    margin-left: -15px;
}

.about_car-main-car p{
    color: #C1C1C1;
    width: 360px;
    font-size: 1.0625rem;

    background-color: var(--clr);
}

.car_advantage{
    position: relative;
    height: 400px;
    width: 80px;
 
    justify-content: center;
    display: flex;
    flex-direction: column;

    font-family: var(--font-poppins);
    padding-top: 3rem;
    gap: 3rem;
}

.car_advantage .col{
    flex-direction: column;
    width: 80px; 
    height: 50px;  
    position: relative;    
}

.car_advantage .col:nth-child(1) img,
.car_advantage .col:nth-child(2) img{
    height: 29px;
}

.car_advantage .col:nth-child(3) img{
    height: 19px;  
}

.col .icon{
    width: 100%; 
    position: relative;
 
    align-items: end;
}

.col .icon img{
    object-fit: contain;
    user-select: none;
}

.col .containerText,  
.col p{  
    width: 100%;
    text-align: center;
    color: #FFFFFF; 
    font-style: italic;
    font-weight: 500;
    font: 16px ;   

    top: 30%;
    position: absolute;
}







 
/* ABOUT CAR */
.about-car{
    width: 100%;
    max-width: 1800px;
    margin: 0rem auto ;
    height: 350px;
    position: relative; 
    z-index: 1; 

    padding: 0 7rem;   
}

/* about-car_content */
.about-car_content{
    width: 50%;
    position: relative;
    height: 100%; 
}

.about-car_title{  
    height: 70px;
    font-family: var( --font-lato); 
}

.about-car_title h2{
    font-family: var(--font-lato);
    font-weight: 700;
    font-size: 3.125rem;
    position: relative; 

    overflow: hidden;   
}   

.about-car_text{ 
    font-family: var(--font-prompt); 
}

.about-car_text p{
    width: 600px;
    font-size: 1.25rem;
    font-weight: 500;
 
    color: var(--text-primary-clr);
}

.about-car_btn button{
    font-family: var(--font-poppins);
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 700;
    outline: none;
    border: none;

    margin-top: 4rem;

    width: 10.625rem;
    height: 3.125rem;
    border-radius: 0.6875rem;
    cursor: pointer;
} 

/* about-car_images */
.about-car_images{
    width: 50%;
    position: relative; 
    height: 120%;

}
 
.about-car_images img{ 
    object-fit: contain;
    height: 327px; 
    margin: 0 -1px;
    width: auto; 
    z-index: 2; 
}  

.about-car_images .imgs{ 
    height: 327px; 
    position: relative;  
}

.about-car_images .imgs div{
    height: 100%; 
    position: relative;
    z-index: 1;
} 

.about-car_images .imgs div:not(.imgs.center div):before{
    content: "";
    position: absolute; 
 
    height: 170px;
    width: 170px; 
    z-index: -1;
    background-color: var(--primary-color);
}  

.about-car_images .imgs.left div::before{ 
    transform: translate(-10px,-10px);
}

.about-car_images .imgs.right div::before{ 
    bottom: -10px;
    right: -10px;
}

 




/* SPECIFICATION */
.specification{
    width: 100%;
    max-width: 1800px;
    height: auto;

    margin: 3rem auto;
}

.specification_title{
    width: 100%;
    font-family: var(--font-lato); 
}

.specification_title h2{
    font-size: 1.875rem;
    position: relative; 

    display: flex;
    align-items: center;

    gap:  1rem; 
} 

.specification_title h2 .lines{
    margin: 0;
}
/* specification_content */
.specification_cars-container{ 
    flex-wrap: wrap;
    justify-content: center; 
    
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem; 
}

.specification_content{
    /* width: 30%; */
    width: 293.5px;
    height: 310px;

    flex-direction: column;  
    text-align: center;
    margin: 2rem 1rem 0;

    background-color: #F6F6F6;
    box-shadow: 0px 0px 14px 0px #00000047;
    position: relative;
    cursor: pointer;
    border-radius: 12px;

    
    transition:all .1s ease-in-out;

} 
.specification_content:hover{
    background-color: #4D5BFF; 
    transition: .6s ease-out; 
    color: rgb(209, 209, 209);
} 

.specification_title-content { 
    height: 80px;
    width: 100%;  
    justify-content: center;
    position: relative;
}

.specification_title-content h2{
    font-size: 1.313rem; 
    margin: 1rem 0 0;
    font-family: var(--font-poppins);
 
}

.specification_title-content .icon{ 
    width: auto;
    height: 50px;

    position: absolute;
    left: 2rem; 
    top: 1.5rem;
    transition: all .2s ease-in-out; 
}
 

.specification_car p{
    font-family: var(--font-prompt);
    font-size: 0.813rem;
    margin: .9rem auto;
    width: 250px;  
    font-weight: 500;  

    transition: .3s ease-in-out;
    color: var(--text-primary-clr);
}

.specification_content:hover p{
    color: rgb(209, 209, 209);
}

/* icon spec */
.specification_cars-container  .specification_content .icon::before{
    content: "";
    position: absolute;
    transition: all .4s ease-in-out;
    left: 50%;
    top: 50%;
    transform: translate(-30%,-50%);
    width: 100px;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    -webkit-transform: translate(-30%,-50%);
    -moz-transform: translate(-30%,-50%);
    -ms-transform: translate(-30%,-50%);
    -o-transform: translate(-30%,-50%);
}


.specification_cars-container  .specification_content:nth-child(1) .icon::before{
    background-image: url('../../icons/engineIcon.svg'); 
    /* background-image: var(--Image);  */
    height: 27px;   
}
.specification_cars-container  .specification_content:nth-child(2) .icon::before{
    background-image: url('../../icons/wheelIcon.svg');  
}
.specification_cars-container  .specification_content:nth-child(3) .icon::before{
    background-image: url('../../icons/materialIcon.svg'); 
}
.specification_cars-container  .specification_content:nth-child(4) .icon::before{
    background-image: url('../../icons/typesIcon.svg'); 
    height: 20px; 
}
.specification_cars-container  .specification_content:nth-child(5) .icon::before{
    background-image: url('../../icons/fuelIcon.svg');  
}

.specification_cars-container  .specification_content:nth-child(2) .icon::before,
.specification_cars-container  .specification_content:nth-child(3) .icon::before,
.specification_cars-container  .specification_content:nth-child(5) .icon::before{ 
    height: 34px; 
}
/* icon hover */
.specification_cars-container  .specification_content:hover:nth-child(1) .icon::before{
    background-image: url(../../icons/engineIconActive.svg);  
}
.specification_cars-container  .specification_content:hover:nth-child(2) .icon::before{
    background-image: url(../../icons/wheelIconActive.svg);  
}
.specification_cars-container  .specification_content:hover:nth-child(3) .icon::before{
    background-image: url(../../icons/materialIconActive.svg);  
}
.specification_cars-container  .specification_content:hover:nth-child(4) .icon::before{
    background-image: url(../../icons/typesIconActive.svg);  
}
.specification_cars-container  .specification_content:hover:nth-child(5) .icon::before{
    background-image: url(../../icons/fuelIconActive.svg); 
}

.specification_cars-container  .specification_content img{
    display: none;
} 

.specification_cars-container  .specification_content:nth-child(1) img{ 
    display: none;
    height: 36px; 
}
.specification_cars-container  .specification_content:nth-child(2) img,
.specification_cars-container  .specification_content:nth-child(3) img,
.specification_cars-container  .specification_content:nth-child(5) img{ 
    height: 40px;
} 
.specification_cars-container  .specification_content:nth-child(4) img{ 
    width: 62.78px;
} 






/* IMAGES */
.images{
    position: relative;
    width: 100%;
    height: 814px; 
    max-width: 100%;
    overflow: hidden;

    margin: 2rem 0;

    background-color: #101010;
}

.images-title{
    width: 100%;
    height: auto;
 
    display: flex; 
    
    margin: 0 auto;
    max-width: 1600px;
}

.images-title h2{
    font-family: var(--font-poppins);
    color: white;
    font-size: 2.5rem;
    position: relative; 

    margin-left: 8.125rem;
}

/* images content / slider */
.images-content{
    width: 100%;
    max-width: 1800px;

    margin: 0 auto;
    height: 83%;
    position: relative; 

    flex-direction: column;
}

/* button image */
.container_home .swiper-button-prev{
    margin-left: 8.125rem;
    transition:all .3s ease-in-out;
}
.container_home .swiper-button-next{
    margin-right: 8.125rem;
    transition:all .3s ease-in-out;
}

.container_home .swiper-button-prev::after,  
.container_home .swiper-button-next::after{  
    display: none;
}
.container_home .swiper-button-prev::before{ 
    background-image: url(../../icons/prevbtn.svg); 
}
.container_home .swiper-button-next::before{ 
    background-image: url(../../icons/nextbtn.svg);
}


.container_home .swiper-button-prev::before,
.container_home .swiper-button-next::before{
    content: "";
    transition: .3s ease-in-out;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%; 
}

.container_home .swiper-button-prev:hover::before{ 
    background-image: url(../../icons/prevbtnActive.svg);
}
.container_home .swiper-button-next:hover::before{ 
    background-image: url(../../icons/nextbtnActive.svg);
}


/* swiper container */
.swiper{
    max-width: 100%;
    height: 500px;
}
 
.main-image_container{
    width: 100%;
    height: 74%; 
    position: relative; 
}

.main-image_container img{
    max-height: 100%;
}

.main-image{
    height: 100%;
    width: 100%;
    position: relative;     
}

.main-image img{
    width: auto; 
    max-height: 498px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#main-image .swiper-slide.swiper-slide-active{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* slider images */
.images-slider{
    margin-top: 1rem;
    width: 70%; 
    max-width: 1300px;
    height: 20px;
    position: relative; 
}


.images-slider .swiper-wrapper{ 
    max-height: 170px;
} 

.slide-img{
    height: 100%;
    max-width: 179px;
    position: relative; 
    cursor: pointer; 
}

.slide-img img{
    object-fit: cover;
    width: 100%;
    height: 126px;
    user-select: none;
    opacity: .4;
}

.swiper-slide.slide-img.swiper-slide-visible.swiper-slide-thumb-active img{
   opacity: 1;
}


/* overview */
.overview{
    width: 100%;
    height: auto;
    position: relative;

    margin: 2rem 0rem 0rem 0; 
    padding: 0 8.875rem;
}

.overview-title{ 
    margin: 0 auto;
    max-width: 1500px;
}

.overview-title h2{
    font-weight: 700;
    font-size: 2.5rem;
    font-family: var(--font-lato);
    position: relative; 
}

.overview .about_car-parts{
    position: relative;
    width: 100%;
    height: auto;  

    max-width: 1300px; 
    margin: 1.5rem auto;
}


.about_car-parts .line{
    width: 100%;
    height: auto;
    position: relative; 
}

/* car-parts col */
.about_car-parts .col{
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s ease-in-out;
    overflow: hidden;
}

.about_car-parts .col img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
 
    left: 0;
    top: 0;
    z-index: 0;
    transition: .3s ease-in-out;
}
.about_car-parts .col:hover img{
    scale: 1.1;
}
.about_car-parts .col::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    transition: all .3s ease-in-out; 
}

.about_car-parts .col:hover::before{ 
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(7.5px);
    transition: all .3s ease-in-out; 
}

.col .content-col{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2; 
 
    color: white;
    text-align: center;
    opacity: 0;
    transition: all .1s ease-in-out; 
    user-select: none;
    overflow: hidden;
}

.about_car-parts .col:hover .content-col{
    transition: all .5s ease-in-out;  
    opacity: 1; 
    user-select: text;
}

.content-col h2{
    position: relative;
    width: 100%;  
    font-family: var(--font-lato);  
    font-size: 1.563rem;
}

.content-col p{
    width: 100%; 
    position: relative;
    font-family: var(--font-prompt);
    color: rgb(221, 221, 221);
    font-weight: 500;
    font-size: 1rem;
    padding: 0 3.4rem; 

    top: 0;
}

/* line1 */
.about_car-parts .line._1{ 
    justify-content: space-between; 
}

.about_car-parts .col-container{
    position: relative;
    height: 414px;
    margin-bottom: 1rem;  
}

.col-container._1{
    width: 799px; 
 
    gap: 1rem;
    flex-wrap: wrap; 
}

.col-container._1 .engine{
    width: 373px;
    height: 200px;  
}

.col-container._1 .wheels{
    height: 200px;
    width: 405px;  
}

.col-container._1 .bodyDesign{
    width: 100%;
    height: 199px; 
} 

.col-container._2{
    width:485px;    
}

.col-container._2 .col{
    width: 100%;
    height: 100%; 
}

/* line2 */
.about_car-parts .line._2{  
    justify-content: space-between; 
}

.about_car-parts .line._2 .col{ 
    height: 211px; 
}

.about_car-parts .line._2 .col:nth-child(1){
    width: 373px;
}

.about_car-parts .line._2 .col:nth-child(2){
    width: 479px; 
}
.about_car-parts .line._2 .col:nth-child(3){
    width: 408px; 
}

/* overview colors */
.overview-colors{
    width: 100%;
    height: auto;
    position: relative;  

    max-width: 1300px;
    margin: 0 auto;
}

/* overview colors image*/
.overview-colors .image{
    width: 742px;
    height: auto;
    position: relative;
 
    margin-top: 9rem;
}

.overview-colors .image img{
    width:742px;
    height: auto;
    object-fit: contain;
    position: relative;
}

.overview-colors .image::before{
    content: "";
    position: absolute;
    right: -38px;
    bottom: -27px;

    width: 218px;
    height: 159px;

    background-color: var(--primary-color);
}

/* overview colors */
.express_colors {
    width: 727px;
    position: absolute;
    right: 0;
    top: -5.2rem;
    background-color: #E9E9E9;
    height: auto;

    padding: 0 4rem 0 2rem;
}

.express_colors h2{ 
    font-family: var(--font-lato);
    font-size: 2.5rem;
}
 
.express_colors p{
    font-family: var(--font-prompt);
    font-size: 1.125rem; 
    color: #424242;
}

/* overview colors choises */
.colors-choises{
    width: 100%;
    height: auto;
    position: relative;

    margin-top: 4rem; 
}

.colors-choises h3{
    text-align: center;
    font-weight: 800;
    font-family: var(--font-mont);
    font-size: 1.188rem;
}


/* color-container */
.color-container{
    width: 1203px; 
    max-width: 90%;
    position: relative;

    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1.3rem 8px;
}

.color-container .color{
    width: 179px;
    height: 30px;
    position: relative;
    color: #5C5C5C;
    justify-content: space-between;
}

.color .color-car{
    height: 100%;
    width: 30px;
    position: relative;

    background-color: white;
}
.color:nth-child(3) .color-car{
    background-color: #CDCDCD;
}
.color-car .clr{
    height: 80%;
    width: 80%;
}

.color-text{
    width: 140px;
    font-family: var(--font-prompt);
    font-size: .8rem;
}






/* last car overview   */
.last-overview{
    width: 100%;
    height: auto;
    position: relative; 

    margin: 5rem 0;  
}

.last-overview *{
    
    transition: all .3s ease-in-out;
}

/* last-overview_image */
.last-overview_image{
    position: relative;
    width: 634px;
    height: auto;

    margin: 0 auto; 
}

.last-overview_image-text{
    position: absolute;

    left: -110px;
    height: 136px;
    padding-top: .3rem;
    width: 160px; 
} 
 
.last-overview_image-text h3{
    text-align: center;
    z-index: 3;
    color: white; 
    font-family: var(--font-lato);
    font-size: 1.375rem;   
    line-height: .5;  
} 

.last-overview_image-text h3:nth-child(1){
    padding-right: .2rem;
}

.last-overview_image-text h3:nth-child(2){
    font-weight: 300;
    padding-right: 1.1rem; 
}

/* text blind mode */
.last-overview_image-text::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
} 

.background_primary{
    width: 100%;
    height: 100%;
    top: 0;
    right:  0;
    position: absolute;
    z-index: -2;

    background-color: rgb(10, 10, 10);
}
.last-overview_image-text::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(0, 68, 255);
    pointer-events: none;
    z-index: -1;
}

 
.last-overview_image .image{
    width: 634px;
    height: auto;
    z-index: -5; 
} 
    
.last-overview_image .image img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* price car */
.overview-price_car{
    width: 100%;
    height: 490px;

    position: relative;
    margin-top: 3rem;
    align-items: start;

    flex-wrap: wrap;
    gap: 3rem;
 
}

.last-review{
    font-size: 1.25rem;
    font-family: var(--font-prompt);
    font-weight: 500;
    width: 489px;

    margin-bottom: 3rem;
    color: var(--text-primary-clr); 
}

.start-price{
    position: relative;
    font-family: var(--font-prompt);
    font-weight: 500; 

    gap: .5rem;
}

.start-price img{
    width: 20px;
    height:28.12px; 
    position:  relative; 
}
 
/* price container */
.price-container{
    gap: 4.25rem;
}
 
.price{
    width: 150px;
    position: relative;
    text-align: center;
}

.price h4{
    font-family: var(--font-lato);
    color: var(--text-primary-clr);
    font-size: 1.25rem;

    line-height: .5;
}

.price p{
    font-family: var(--font-prompt);
    font-size: 1rem;
    line-height: .5;
}

/* image price */
.overview-price_car .image{
    height: auto;
    width: 485px;
    position: relative;

    margin-top: 6rem;
    transition: all .3s ease-in-out;
}

.overview-price_car .image::before{
    content: "";
    position: absolute;

    right: -30px;
    top: -25px;

    height: 374px;
    width: 205px;

    background-color: var(--primary-color);
}

.overview-price_car .image img{
    height: auto;
    width: 100%;
    position: relative;
    object-fit: contain;
}





/* dark mode */ 

/* body dark background content */ 
body.dark .express_colors,
body.dark .color .color-car,
body.dark .specification_content{
    background-color: rgb(10, 10, 10);
}

body.dark .specification_content:hover .specification_car p{
    color: rgb(223, 223, 223);
}  

body.dark .specification_content:hover{
    background-color: #4D5BFF;  
} 
 
body.dark  .specification_cars-container  .specification_content:nth-child(1) .icon::before{
    background-image: url('../../icons/engineIconActive.svg');   
}
body.dark  .specification_cars-container  .specification_content:nth-child(2) .icon::before{
    background-image: url('../../icons/wheelIconActive.svg');  
}
body.dark  .specification_cars-container  .specification_content:nth-child(3) .icon::before{
    background-image: url('../../icons/materialIconDark.svg'); 
}
body.dark  .specification_cars-container  .specification_content:nth-child(4) .icon::before{
    background-image: url('../../icons/typesIconActive.svg');  
}
body.dark  .specification_cars-container  .specification_content:nth-child(5) .icon::before{
    background-image: url('../../icons/fuelIconDark.svg');  
}

/* hover */
body.dark .specification_cars-container  .specification_content:hover:nth-child(3) .icon::before{
    background-image: url(../../icons/materialIconActive.svg); 
}
body.dark .specification_cars-container  .specification_content:hover:nth-child(5) .icon::before{
    background-image: url(../../icons/fuelIconActive.svg); 
}



/* responsive */
@media screen and (min-width:1800px) {
    /* main-car */
   .container_home  .main-car{
        height: 830px;
    }
 
    .main-car .bgImg{
        transform: translate(-50%);
        left: 50%;
    } 
    /* about car */
    .about-car{ 
        margin: 4rem auto 0; 
    
    }
}

@media screen and (max-width:1800px) {
    /* main-car */
    .main-car .bgmain-car{
        display: none;
    }

    .about_car-main-car{
        margin-left: 1.5rem;
    } 
}

@media screen and (min-width:1650px) { 
    .about_car-main-car{
        margin-top: 4rem;
    }
}

@media screen and (max-width:1550px){
    /* overview */
    /* line1 */
    .col-container._1{
        width: 62%;  
        justify-content: space-between;
    }
    
    .col-container._1 .engine,
    .col-container._1 .wheels{
        width: 48.9%;
    }
    .col-container._1 .bodyDesign{
        width: 100%;
    }
    
    .col-container._2{
        width: 37%; 
    }
    /* line2 */
    .about_car-parts .line._2 .col:nth-child(1){
        width: 29%;
    }
    .about_car-parts .line._2 .col:nth-child(2){
        width: 36%; 
    }
    .about_car-parts .line._2 .col:nth-child(3){
        width: 32%; 
    }
}

@media screen and (min-width:1450px) and (max-width:1650px) {
    /* main-car */
    .container_home  .main-car{
        height: 678px;
        overflow: hidden;

        margin-bottom: 10.313rem;
    }

    .gradient_main-car{
        bottom: -90px;
        height: 310px;
    }

    .about_car-main-car{ 
        padding-top: 3rem;
    }

    .car_advantage{
        margin-top: 3rem;
        padding-top: 4rem; 
    }

} 

@media screen and (max-width:1456px){
    /* main-car */ 
    .about_car-main-car h2{ 
        font-size: 3rem; 
    }
    
    .about_car-main-car{
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .about_car-main-car p{
        width: 310px;
        font-size: .9rem;
    }

      /* overview */
      .overview{
        padding: 0 5rem;
    }

    .col-container._1 .engine,
    .col-container._1 .wheels{
        width: 48.7%; 

    }
    .col-container._1 .bodyDesign{
        width: 100%; 
    } 

    .about_car-parts .line._2 .col:nth-child(1){
        width: 29%;
    }
    .about_car-parts .line._2 .col:nth-child(2){
        width: 36%; 
    }
    .about_car-parts .line._2 .col:nth-child(3){
        width: 32%; 
    }
    
}

@media screen and (max-width:1400px){
    /* main-car */
    .container_home .main-car{
        height: 600px;
        overflow: hidden;
        margin-bottom: 9rem;
    }
    /* about car */
    .about-car{ 
        padding: 0 5rem; 
    }

    .about-car_text p{ 
        width: 80%;
        font-size: 1.1rem;  
    }

    .about-car_images{
        overflow: hidden;
    }

    .about-car_images::-webkit-scrollbar-track {
        background-color: #ff0000; 
       }
       
    .about-car_images::-webkit-slider-thumb{
        background-color: red;
    }
  
    .about-car_images::-webkit-scrollbar-thumb {
        background-color: red; 
     }
   

      /* specification car */

    .specification_content{
        height: 290px;
    }

    /* icon spec */
    .specification_cars-container  .specification_content:nth-child(1) img{ 
        height: 28px;
    }
    .specification_cars-container  .specification_content:nth-child(2) img,
    .specification_cars-container  .specification_content:nth-child(3) img,
    .specification_cars-container  .specification_content:nth-child(5) img{ 
        height: 30px;
    } 
    .specification_cars-container  .specification_content:nth-child(4) img{ 
        height: 18px;
    } 
  
    /* images */
    .images{
        height: 750px;
    }

    .images-slider{
        margin-top: 2rem;
    }
    
    .slide-img{ 
        max-height: 90px;
        overflow: hidden;
        max-width: 150px; 
        position: relative;
    }
    .slide-img img{ 
        width: 100%;
        height: auto; 
        object-fit: contain;
    }

    /* overview */
    .content-col p{ 
        padding: 0 2.4rem;  
    }

    /* overview colors */
    .express_colors{
        width: 600px;
    }

    .express_colors h2{
        font-size: 2rem;
    }

    .express_colors p{
        font-size: 1.1rem;
    }

    .overview-colors .image::before{
        width: 250px;
        height: 250px; 
    }

    /* last overview */
    .last-review{
        font-size: 1.1rem;
    }

    .price_car h2{
        font-size: 1.4rem;
    }

    .price h4{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:1300px){
    /* overview */  
    .about_car-parts .col p{
        font-size: .8rem    ;
    }
    .content-col h2{ 
        font-size: 1.3rem;
    }
    .about_car-parts .col-container{ 
        height: 384px;  
    }
    .col-container._1 .engine,
    .col-container._1 .wheels,
    .col-container._1 .bodyDesign{ 
        height: 180px; 
    } 

    .about_car-parts .line._2 .col{ 
        height: 190px;  
    }

    /* last overview */
    .price-container{
        gap: 1.25rem;
    }
    .overview-price_car .image{
        height: auto;
        width: 445px; 
    }
    .overview-price_car .image::before{  
        height: 117%; 
    }
    
}

@media screen and (max-width:1200px){
    /* main-car */
    .container_home .main-car{ 
        height: 750px;
    }

    /* images */ 
    .images-title h2{
        font-size: 1.6rem; 
    } 
    .container_home .swiper-button-prev{
        margin-left: 4.125rem; 
    }
    .container_home .swiper-button-next{
        margin-right: 4.125rem; 
    } 
    .main-image_container .swiper{ 
        height: 90%;  
    } 
    .main-image_container img{
        height: 100%;
        width: auto;
    }

    /* overview */
    .col-container._1 .engine,
    .col-container._1 .wheels{
        width: 48.5%;  
    }

    /* overview  colors*/
    .overview-colors .image{
        display: flex;  
        width: 55%;
    }
    .overview-colors .image img{
        width: 100%;
    }
    
    .express_colors h2{
        font-size: 1.7rem;
    }
    .express_colors p{
        font-size: 1rem;
    }

     /* last overview */
     .overview-price_car{
        gap: 0;
     }
 
     .price-container{
        gap: 3rem;
     }
     .price{
        width: auto;  
    }  
}

@media screen and (max-width:1100px){
    /* main-car */
    .container_home  .main-car{
        height: 700px;
    } 

    .car_advantage{
        height: 80px;
        width: auto; 
        flex-direction: row;

        margin-top: 1rem;
        gap: 0;

        align-items: center;
        opacity: .9;
    }

    .car_advantage p{
        margin-top:1rem;
        font-size: .9rem;
    } 

    /* about car */
    .about-car_text p{
        width: 90%;
        font-size: 1rem;
    }

    .about-car_images{
        width: 60%; 
    }
 

    .about-car_images .imgs{
        height: 250px;

        display: flex;
        align-items: center;
        position: relative;
    }

    .about-car_images .imgs img{
        height: 100%; 
        object-fit: cover;
        z-index: 1;
    }

    .about-car_images .imgs div:not(.imgs.center div):before{
        height: 130px;
        width: 130px;
        z-index: -1;
    }
 
    .about-car_images .imgs.left div::before{ 
        transform: translate(-10px,-10px);
    }

    .about-car_images .imgs.right div::before{ 
        bottom: -9px;
        right: -10px;  
    }

    .about-car_btn button{
        margin-top: 1rem; 

        font-size: 1rem; 
        height: auto;
        
        padding: .8rem 0;
    }

    /* overview  colors*/
    .overview-colors .image{ 
        width: 50%;
    }

    .overview-colors .image::before{
        width: 150px;
    }

    .colors-choises h3{
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .colors-choises p{
        font-size: .7rem;
    }

    /* last overview */
    .last-overview_image .image{
        width: 554px;
    }

    .last-overview_image-text{ 
        left: -60px; 
        padding-top: 1.2rem;

        height: 120px;
        width: 140px;
    } 

    .last-overview_image-text h3{
        font-size: 1.1rem; 
    }
 
    /* price car */
    .overview-price_car{
        justify-content: space-between;
    }
    .last-review{
        max-width: 350px;
        font-size: 1rem;
    }
    
    .price_car h2{
        font-size: 1.3rem;
    }
 
    .price h4{
        font-size: 1rem;
    }

    .price p{
        font-size: .9rem;
    }
  
}

@media screen and (max-width:1050px){
    /* overview */
    .about_car-parts .col p{
        font-size: .9rem;
    }
    /* line 1 */
    .about_car-parts .line._1{ 
        flex-direction: column;
    }

    .col-container._1{
        width: 100%;
    }

    .col-container._2{
        width:75%;   
        height: 250px; 
    }

    /* line 2 */
    .about_car-parts .line._2{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about_car-parts .line._2 .col:nth-child(1),
    .about_car-parts .line._2 .col:nth-child(2),
    .about_car-parts .line._2 .col:nth-child(3){
        width: 48.5%;
    } 

    /* overview colors  */
    .express_colors {
        width: 65%;
    }

    .express_colors p{
        font-size: .9rem;
    }
}

@media screen and (max-width:1000px){ 
    /* main-car */
    .container_home .main-car{ 
        height:70vmax;
        max-height: 670px;
    } 
    
    .car_advantage .col:nth-child(3) img{ 
        margin-top: .5rem;
    } 

    /* about */
    .about-car_images{
        overflow-y: visible;
    }

    /* specification */
    .specification,
    .specification_cars-container{
        padding: 0 1rem;
    }
    .specification_content{
        min-width: 350px; 
    }

    /* overview colors*/
    .overview-colors{
        margin-top: 18rem; 
        
    }
    .express_colors{
        margin-top: -100px;
        width: 80%;
    } 

    .overview-colors .image{
        width: 80%;
    }

    /* last overview */
    .overview-price_car .image {
        width: 400px;
    }

    .overview-price_car .image::before{ 
        right: -20px;
        top: -18px; 
        height: 304px; 
    }

    /* overview price */
    .overview-price_car{ 
        height: 300px;
    }
    
    .last-review{
        font-size: .9rem;
    }

    .overview-price_car .image{
        margin-top: 3rem;
        width: 350px;
    }

    .overview-price_car .image::before{
        width: 180px;
        height: 273px;
    }
}

@media screen and (max-width:900px){ 
    /* main-car */
    .container_home .main-car{
        height: 70vw;
    }
    .main-car-content{
        padding-top: 3rem;
    }

    .about_car-main-car h2{
        font-size: 2.5em;
    }

    .about_car-main-car p{
        font-size: .8rem;
    }

    .main-car-content .line{
        height: 7px;
    }

    .car_advantage p{ 
        font-size: .8rem;
    } 

    .car_advantage .col:nth-child(1) img,
    .car_advantage .col:nth-child(2) img{
        height: 24px;
    }

    .car_advantage .col:nth-child(3) img{
        height: 15px;
        margin-top: .5rem;
    }

    /* about car */
    .about-car{
        flex-direction: column-reverse;
        height: auto; 
    }

    .about-car{
        flex-direction: column-reverse;
        gap: 2rem;
    } 

    .about-car_content,
    .about-car_images{
        width: 100%;
        text-align: center;
    }

    .about-car_content p{
        margin: 1rem auto;  
    }
 

    .about-car_title{
        width: 100%;

        display: flex;
        justify-content: center;
        text-align: center; 
    }

    .about-car_title h2{
        font-size: 2.5rem;
        padding-right: 2rem;
    }

    .about-car_images{
        height: 400px; 
        width: 100%;
    }    
 
 
    .about-car_btn{
        display: flex;
        justify-content: center;
    }
    /* specification */
    .specification_content{ 
        height: 300px;
        min-width: 100px;
        width: 40%;  
    } 
    .specification_car{
        position: relative;
        width: 100%;
    } 
    .specification_car p{
        margin: .6rem auto;
        width: 90%; 

        font-size: .8rem;
    }

    /* icon spec */
    .specification_cars-container  .specification_content:nth-child(1) img{ 
        height: 28px;
    }
    .specification_cars-container  .specification_content:nth-child(2) img,
    .specification_cars-container  .specification_content:nth-child(3) img,
    .specification_cars-container  .specification_content:nth-child(5) img{ 
        height: 35px;
    } 
    .specification_cars-container  .specification_content:nth-child(4) img{ 
        height: 18.5px;
    } 

    /* images */
    .images{
        height: 600px;
    } 

    .images-title h2{
        margin: 2rem 4rem ;
    } 
    .slide-img{
        max-height: 69px;
    } 
    .container_home .swiper-button-prev{
        margin-left: 3rem; 
    } 
    .container_home .swiper-button-next{
        margin-right: 3rem; 
    } 
    .main-image_container .swiper{ 
        height: 100%;  
    }


      /* overview */ 
    .about_car-parts .col p{
        font-size: .85rem;
        
        padding: 0 2rem;
    }
    /* overview colors*/
    .overview-colors{
        margin-top: 14rem;
    }
    .express_colors p{
        font-size: .8rem;
    }

    /* line 1 */
    .col-container._2{
        height: 300px;
    }

    /* last overview */
    .last-overview_image{
        width: 100%; 
    }

    .last-overview_image .image{
        width: 80%; 
    }

    .last-overview_image-text{
        left: -20px;
        width: 20%;
        min-width: 100px;
        height: 110px;
    }

    .last-overview_image-text h3{
        font-size: 1.9vw; 
    }

    .last-overview_image-text h3:nth-child(2){
        padding-left: .2rem;
    }

    /*  overview price */
    .overview-price_car{ 
        height: auto; 
    }
 
    .overview-price_car-text{
        width: 320px; 
    }

    .last-review{
        font-size: .8rem; 
        width: 90%;
        margin-bottom: .5rem;
    }

    .price_car h2{
        font-size: 1.1rem;  
        gap: .4rem;
    }

    .price-container{  
        flex-wrap: wrap; 
    }
 
    .price h4{
        font-size: .8rem; 
    }

    .price p{
        font-size: .75rem;
    }

    .overview-price_car .image{
        width: 300px;
    }
    
    .overview-price_car .image::before{
        height: 239px;
        width: 45%;
    }
 
}

@media screen and (max-width:801px){ 
    /* overview car */
    .overview-title h2{
        font-size: 2rem;
    }
    /* overview colors */
    .color-container .color{ 
        width: 120px;
        justify-content: space-between;
    }

    .color-car{
        width: 20%;

    }

    .color .color-text{
        width: 70%; 
    }

    .color-text p{
        font-size: .6rem;
    }
 
}

@media screen and (max-width:800px){
    /* main-car */
    .main-car{
        height: 500px;
    }
 
    /* about car */ 
    .about-car_btn button{
        width: auto;
        padding: .65rem 1.5rem;
        font-size: .85rem; 
    }
    /* specification */ 
    .specification_cars-container  .specification_content:nth-child(1) .icon::before{
        height: 20px;
    }
    .specification_cars-container  .specification_content:nth-child(4) .icon::before{
        height: 17px;
    }
    .specification_cars-container  .specification_content:nth-child(2) .icon::before,
    .specification_cars-container  .specification_content:nth-child(3) .icon::before,
    .specification_cars-container  .specification_content:nth-child(5) .icon::before{
        height: 25px;
    }

    /* last overview price car */
    .overview-price_car{
        flex-direction: column; 
    }

    .overview-price_car-text{
        width: 100%; 
        text-align: center; 
    }

    .price-container{
        width: 100%;  
        justify-content: center;
        gap: 5rem;
    }

    .price_car .start-price{
        width: 100%;
        margin: 1rem auto; 

        justify-content: center; 

        padding-left: 4%;
    }

    .last-review{
        width: 70%;
        max-width: 100%;  
        margin: 0 auto;
    }

    .image-last-overview{
        width: 100%;
    }

    .overview-price_car .image{
        margin: 2rem auto 0; 
    }


}

@media screen and (max-width:740px){
    /* about car */
    .about-car_images img{
        height: 250px;
    }

    .about-car_images .imgs.left::before{ 
        transform: translate(-12px,-85px);
    }

    .about-car_images .imgs.right::before{ 
         bottom:65px; 
    }
}

@media screen and (max-width:700px){
    /* specification */
    .specification_content{
        height: 270px; 
    }
    .specification_title-content{
        justify-content: end;
        padding: 0 2rem;
    }

    .specification_title-content h2{ 
        font-size: 1rem;
    }

    .specification_car p{
        font-size: .75rem;
    }

      /* icon spec */


      .specification_cars-container  .specification_content:nth-child(1) .icon::before,
      .specification_cars-container  .specification_content:nth-child(2) .icon::before,
      .specification_cars-container  .specification_content:nth-child(3) .icon::before,
      .specification_cars-container  .specification_content:nth-child(5) .icon::before{ 
        transform: translate(-40%,-50%);
      }
    /* images */  
    .container_home .swiper-button-prev{
        margin-left: 4%; 
    }

    .main-image_container .swiper{
        height: 90%;
    }

    .container_home .swiper-button-prev::before,
    .container_home .swiper-button-next::before{ 
        width: 70%;
        height: 70%; 
    }

    .images-slider{
        width: 90%;
    }

    .container_home .swiper-button-next{
        margin-right: 4%; 
    }
    .slide-img{ 
        max-height: 70px;   
    } 

    /* overview */
    .overview{ 
        padding: 0 4.875rem;
    }
    .overview-title h2{
        font-size: 2.2rem;
    }
    .col-container._2{ 
        width: 100%;
    } 

    .about_car-parts .col-container .col,
    .about_car-parts .line._2 .col:nth-child(1),
    .about_car-parts .line._2 .col:nth-child(2),
    .about_car-parts .line._2 .col:nth-child(3){
        width: 100%;
    } 

    .about_car-parts .col-container._1{
        height: auto; 
    }

    .col-container._2{
        width: 100%; 
    }   

    /* overview colors */ 
    .overview-colors .image{
        width: 90%;
    }

    .express_colors{
        width: 90%;
    }

    .express_colors h2{
        line-height: .5;
    }

    .colors-choises .color-container{
        max-width: 100%;
    }

    .color-container .color{ 
        width: 120px;
        height: 20px;
        justify-content: space-between;
    }

    .color .color-car{
        width: 20px; 
    }
 
 
}

@media screen and (max-width:640px){
    /* main-car */
    .main-car{
        height: 490px;
    }

    /* main-car content */
    .about_car-main-car{ 
        width: auto;
    }
    .about_car-main-car h2{
        font-size: 2rem;
    }

    .about_car-main-car p{
        width: 330px;
        font-size: .75rem; 
    }

    .car_advantage{
        width: auto; 
    }

    .car_advantage .col{
        width: 47px; 
    }

    .car_advantage p{
        font-size: .7rem;
    }

    .car_advantage .col:nth-child(1) img,
    .car_advantage .col:nth-child(2) img{
        height: 20px;
    }

    .car_advantage .col:nth-child(3) img{
        height: 14px; 
    }

    .about_car-main-car .lines{
        width: 260px;
        height: 3px;
    } 

    /* about car*/
    .about-car{
        margin: 0; 
        padding: 0 2rem;
    }

    .about-car_images{ 
        width: 90%;
    } 

    .about-car_content{
        text-align: center;
    }

    .about-car_title{
        justify-content: center; 
    }

    .about-car_title h2{
        font-size: 2rem;
    }

    .about-car_text p{
        width: 100%;
        font-size: 2vmax;
    }

    .about-car_btn button{
        padding: .7rem 1rem;
        font-size: .9rem; 
    }
    
    /* last overview  */
    .last-overview_image-text{
        height: 90px; 
    }

    /* last overview price*/
    .last-review{
        font-size: .75rem;
    }

    .price_car h2{
        font-size: 1rem;
    }

    .price_car p{
        font-size: .6rem;
    }

    .overview-price_car .image::before{
        width: 40%;
    }
}


@media screen and (max-width:580px){
    /* main-car */
    main-car{
        height: 430px;
    }
    .main-car-content{ 
        padding-top: 1.5rem;
    }
    .about_car-main-car .lines{
        width: 200px; 
    }  

    .about_car-main-car p{
        width: 280px;
        font-size: 10px;
    }
    .lines .line{
        height: 3px;
    }

    .car_advantage {
        position: absolute;
        right: 0;
        top: 0rem;
    }
    .car_advantage .col:nth-child(1) img,
    .car_advantage .col:nth-child(2) img{
        height: 13px;
    }

    .car_advantage .col:nth-child(3) img{
        height: 10px; 
    }

    .car_advantage .col{
        height: 0px;
    }

    .car_advantage p{
        font-size: .6rem;
    }

    /* about car */
    .about-car_btn button{
        padding: .5rem 1rem;
        font-size: .7rem;
        width: 25vw;
    }

    .about-car_images{ 
        height: 230px;  
    }

    .about-car_images .imgs{
        height: 100%;
    }

    .about-car_images img{
        height: 100%;  
        position: relative;
    }

    .about-car_images .imgs div:not(.imgs.center div):before{ 
        height: 100px;
        width: 100px; 
        z-index: -1;  
    }  
  

    /* specification */
    .specification_content{
        height: 250px;
    }
    .specification_car p{
        padding: 0 1rem;
        font-size: .65rem;
    }
    /* images */
    .images{
        height: 490px;
    }
    .main-image_container{
        height: 250px;  
    }
    .main-image_container .swiper{
        height: 80%;
    }

    /* overview */
    .overview{
        padding: 0 2rem;
    }
    .col .content-col p{
        font-size: .79rem;
        padding: 0 1rem;
    } 
    .col-container._2{ 
        height: 340px;
    } 

    /* overview colors */
    .colors-choises .color{
        height: 20px; 
    }
    
    .color .color-car{
        width: 20px; 
    } 
}

@media screen and (max-width:500px){
    .main-car{
        height: 330px; 
    }
    /* about */
    
    .about-car_text p{
        font-size: .95rem;
    }
  
    .about-car_images{
        height: 300px;
        padding: 2rem 0;
    }

    .about-car_images .imgs.right::before{
        bottom: -10px; 
    }

    .about-car_text p{
        font-size: .8rem;
    }
    /* specification */

    .specification_content{
        width:35%;  
        max-height: 178px;
        min-width: 156px;

        box-shadow: 0px 0px 5px 0px #00000047; 
        padding-bottom: .5rem;
        height: 270px;

        margin: .5rem .3rem;
    }

    .specification_cars-container{
        gap: 0;
    }

    .specification_title h2{
        font-size: 1.25rem; 
    }

    .specification_title-content{
        width: 100%;
        height: auto; 
        padding: 0 .4rem;

        margin-bottom: .6rem;
        justify-content: end;
    }

    .specification_title-content h2{
        font-size: 11px; 
        margin-right: 1rem;
    }

    .specification_title-content .icon{
        top: 0rem;
        left: 1rem;
    }
    .specification_car p{ 
        font-size: 7.8px; 
        margin: .4rem auto;
    }

          /* icon spec */ 
    .specification_cars-container  .specification_content:nth-child(1) .icon::before{
        height: 15px;
    }
    .specification_cars-container  .specification_content:nth-child(4) .icon::before{
        height: 12px;
    }
    .specification_cars-container  .specification_content:nth-child(2) .icon::before,
    .specification_cars-container  .specification_content:nth-child(3) .icon::before,
    .specification_cars-container  .specification_content:nth-child(5) .icon::before{
        height: 19px;
    }  

     /* overview colors */ 
     .overview-colors .image{
        width: 95%; 
     }

     .overview-colors .image::before{
        right: 1px;
     }

     .express_colors h2{
        font-size: 1.2rem;
        line-height: 1;
     }

     .express_colors p{
        font-size: .7rem;
     }

     .colors-choises h3{
        font-size: 1rem;
     }

       /* last overview */
    .last-overview_image .last-overview_image-text h3{
        font-size: .8rem;  
    }


     /* overview price */
     .price_car .start-price{ 
        width: 50%;
        min-width: 180px; 
     }

     .last-review{
        width: 100%;
        max-width: 350px;
     }

     .price-container{
        justify-content: center;
        
        width: 100%;    
        gap: 0;
     }

     .price{ 
        width: 33%;
     }

     .price h4{
        font-size: .7rem;
     }

     .price p{
        font-size: .6rem;
     }

     .overview-price_car .image{
        width: 80%;
        height: auto; 
     }

     .overview-price_car .image::before{
        height: 110%;
        top: -12px;
        right: -12px;
     }
}


@media screen and (max-width:430px){ 
    .container_home .main-car{
        /* height: 500px; */
        margin-bottom: 1rem;
    }

    /* about car */
    .about-car_images {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width:400px){
    /* main-car */
    .container_home  .main-car{
        min-height: 300px;
        height: 390px; 

        margin: 0;
    }

    .about_car-main-car{
        max-width: 100%; 
    }

    .about_car-main-car p{
        max-width: 90%;
    }

    .main-car-content{
        width: 100%;
        height:200px; 
         
        justify-content: center;
        text-align: center;
        padding: 1.5rem 0;
    }

    .about_car-main-car{
        height: 100px;
    }

    .about_car-main-car .lines{  
        width: 90%;
        height: 3px;   

        margin: 0 auto;
        justify-content: center;
        
    }

    .main-car-content .line{
        height: 100%;
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    }

    .about_car-main-car h2 .container-text-animation{
        max-width: 100%; 
         
        margin: 1rem auto;
 
        justify-content: center;
    } 

    .about_car-main-car h2{ 
        font-size: 1.85rem;  
        position: relative;
    }

    .about_car-main-car p{ 
        font-size: 0.625rem; 
        width: 277px;
        max-width: 90%;
        margin: 1rem auto;
        line-height: 11.72px;
    }
    
    .car_advantage{ 
        left: 0;
        gap: 6vw;
        top: 63vi;
    }
 
    .car_advantage p{ 
        font-size: 0.4375rem;
        margin-top: 1.5rem;
    }



    /* about car */
    .container_home .about-car{ 
        margin:  3.813rem 0 0 0; 
    }
    
    .about-car_content{
        padding: 0 .4rem; 
    }

    .about-car_title h2{ 
        font-size: 1.55rem; 
    } 

    .about-car_text p{ 
        font-size: 0.6875rem; 
    }

    .about-car_btn button{ 
        width: 6.5rem;
        height: 1.5rem;
        font-size: 0.625rem;
        border-radius: 0.3125rem;
    }
  
    .about-car_images .imgs{
        height: 100%; 
    }
     
    .about-car_images .imgs.right div::before{
        right: -9px;
        bottom: -8px;  
    }

    .about-car_images .imgs.left div::before{
        transform: translate(-9px,-7px);
    }

    /* specification */   
    .specification .specification_content{
        width: 142px;  
        min-width: 100px;
        height: 150px;
        max-height: 240px;
    }
    
        .specification_cars-container  .specification_content:nth-child(1) .icon::before{
            height: 12px;
        }
        .specification_cars-container  .specification_content:nth-child(4) .icon::before{
            height: 10px;
        }
        .specification_cars-container  .specification_content:nth-child(2) .icon::before,
        .specification_cars-container  .specification_content:nth-child(3) .icon::before,
        .specification_cars-container  .specification_content:nth-child(5) .icon::before{
            height: 15px;
        }

        .specification_car p{ 
            font-size: 7px; 
            margin: .4rem auto;
        }



    /* images */
    .images{
        height: 400px; 
    }

    .images-title h2{
        font-size: 1.2rem; 
    }

    .main-image_container{
        height: 230px; 
        max-width: 95vw;
        margin-top: -2rem;
    } 

    .slide-img{
        min-width: 60px;
        max-height: 50px;
    }

    /* overview */
    .overview{
        padding: 0 2.25rem;
    }
    .overview-title h2{ 
        font-size: 1.55rem; 
    }
    .content-col p{
        overflow: auto;
    }

    /* overview colors */ 
    .overview-colors .image{
        margin-top: 17rem;
        width: 100%;
    }

    .overview-colors .image::before{
        width: 74px;
        height: 159px;
        bottom: -2.8rem;
    }

    .express_colors{
        top: -5rem;
        width: 95.5%;
        padding: 0 .7rem;

        max-height: 300px;
        overflow: auto;
    }

    .express_colors h2{
        font-size: 1rem;
        padding-left:2.3rem; 
        position: relative;
    }

    .express_colors h2::before{
        top: .5rem;
        left: 0;
    }

    .express_colors p{
        font-weight: 500;
        font-size: 0.688rem;
        width: 268px;
        max-width: 99%;
    }

    /* colors choises */ 
    .colors-choises{
        margin: 1.5rem auto;  
    }
    .colors-choises h3{
        font-size: 0.813rem;
    }

    .color-container{
        gap: .5rem .6rem;
    }

    .color-container .color{
        width: 100px;
    }

    /* last overview */
    .last-overview_image .image{
        width: 80%;  
    }

    .last-overview_image-text{ 
        width: 30%; 
        min-width: 50px;
    }

    .last-overview_image-text::before,
    .background_primary,
    .last-overview_image-text::after{
        height: 90%; 
    } 
 

    .last-overview_image-text h3{
        font-size: .7rem;
    }

    /* overview price */
    .last-review{
        font-size: .6rem;
    }

    .price_car .start-price{
        font-size: .9rem; 
        width: 100%;   
    }

    .start-price img{
        height: 17px;
    }
 
}

@media screen and (max-width:370px) { 
      /* specification */   
     .specification .specification_content{
        width: 47%;
        min-width: 0px;  
    }
}

@media screen and (max-width:300px) {
    .main-image_container img{
        max-width: 90%;
        height: auto;
    }
    
    /* about car */
    .about-car_title h2{
        font-size: 1rem; 
    }
    
    .about-car_images .imgs.left::before{
        top: 45px;  
    } 
    .about-car_images img{
        height: 120px;
    }
}