:root{
    --font-prompt: 'Prompt', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
    --font-montSubrayada:  'Montserrat Subrayada', sans-serif;
    
    --dark-mode-bg:#202020;
    --light-mode-bg:#F1F1F1;
  
    --dark-mode-text:#dddddd;
    --text-primary-clr:#5F5F5F;
    --light-mode-text:rgb(20, 20, 20);
  
    --primary-color:#4D5BFF;
  }
   

.contact-container{
    height: 800vh;
    width: 100%; 

    position: relative;
}

/* hero section */
.contact-container .hero{
  width: 100%;
  height: auto;
  position: relative; 
}

/* hero image */
.contact-container .hero-image{
  position: relative;
  width: 100%;
  height: auto;

}

.contact-container .hero-image img{
  object-fit: contain;
  width: 100%;
  height: auto;
}

/* about-page */
.contact-container .about-page{
  position: absolute;
  color: white;
 
  width: 100%;  

  flex-direction: column;
}


.contact-container .about-page .title{ 
  position: relative;
}

.contact-container .about-page h2{
  font-family: var(--font-lato);
  font-size: 4.375rem;
  font-weight: 400;
  letter-spacing: 5px;

  margin: 0;
}

.contact-container .about-page .lines_title{
  background-color: white;
  bottom: 0;
  position: absolute;
  left: 0;

  height: 2px; 
}

.contact-container .about-page h2 span{
  color: var(--primary-color);
}


.contact-container .about-page section{
  width: 100%;
  height: auto;
  position: relative;
}

.contact-container .about-page section p{
  width: 782px;
  position: relative;
  max-width: 70%;

  text-align: center;
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 30.26px;
  font-size: 1.563rem;

  color: #B9B9B9;
}




/* contact-information */
.contact-information{
  width: 100%;
  height: 400px;
  position: relative; 
}  

.detail-contact{
  width: 300px; 
  max-width: 100%;
  height: 250px;
  position: relative; 

  flex-direction: column;

  margin: 0 .5rem;  
} 

.detail-contact:nth-child(1)::before,
.detail-contact:nth-child(3)::before{
  content: "";
  position: absolute;
  height: 210px;
  width: 4px;
  
  background-color: var(--primary-color);
  top: 0;
  right: 0;
}

.detail-contact:nth-child(3)::before{
  left: 0;
}

.contact-icon{
  flex-direction: column;
  justify-content: space-between; 

  width: 100%;
  height: 90px;
  margin-bottom: 1.5rem;
}

.contact-icon .icon{
  width: 100%;  

  display: flex;
  justify-content: center; 

}

.contact-icon .icon img{
  height: 52px;
  width: auto;

  object-fit: contain;
}

.detail-contact:nth-child(3) .contact-icon .icon img{
  height: 40px; 
}


.contact-icon h4{
  font-weight: 600;
  font-family: var(--font-lato);
  font-size: 1.563rem;

  margin: 0;
}

.detail-contact p{
  font-family: var(--font-inter);
  color: var(--text-primary-clr);
  font-weight: 400;
  font-size: 1.188rem;
  text-align: center;

  width: 100%;
  margin: .2rem 0;
}

.detail-contact:nth-child(1) p{
  /* width: 140px;  */
  width: 48%;
}





/* question form */
.question-form{
  width: 100%;
  height: auto;
  position: relative;
}

.question-form h4{
  text-align: center;
  width: 611px;
  max-width: 90%;

  margin: 0 auto;

  font-weight: 600;
  font-family: var(--font-inter);
  font-size: 1.313rem;
}

.question-form form{
  flex-direction: column;
  gap: 3rem;

  margin:5rem 0; 
  position: relative;
  width: 100%;
  height: auto; 
}

.question-form form input{
  outline: none;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  padding: .5rem 0;

  color: black;
  font-size: 1.188rem;
  font-family: var(--font-lato);

  background-color: transparent;
  width: 741px;
  max-width: 90%;
}

.question-form form input::placeholder{
  color: #747474;
  font-size: inherit;
}

.question-form form button{
  width: 142px;
  height: 36px;
  background-color: var(--primary-color);

  font-size: 1.125rem;
  color: white;
  font-family: var(--font-lato);
  font-weight: 500;
  letter-spacing: 3px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* responsive */
@media screen and (max-width:1480px) {
  /* hero section */ 
  .contact-container .about-page h2{
    font-size: 3.3rem;
  }

  .contact-container .about-page section p{
    font-size: 1.1rem;
  }

  /* contact information */
  .contact-icon .icon img{
    height: 42px; 
  }
  
  .detail-contact:nth-child(3) .contact-icon .icon img{
    height: 32px; 
  }

  .contact-icon h4{
    font-size: 1.2rem;
  }

  .detail-contact p{
    font-size: 1rem;
  }
}


@media screen and (max-width:1200px) {
  /* hero section */  
  .contact-container .about-page h2{
    font-size: 2.6rem;
  }

  .contact-container .about-page section p{
    font-size: 1rem;
  }


  /* contact information */
  .detail-contact{
    width: 240px;
    height: auto; 
  }

  .detail-contact:nth-child(1)::before, 
  .detail-contact:nth-child(3)::before{
    height: 180px;
  }

  .detail-contact:nth-child(1){
    padding-right: 2rem;
  }

  .detail-contact:nth-child(2){
    width: 200px;
  }

  .detail-contact:nth-child(3){
    padding-left: 2rem;
  } 

  .detail-contact:nth-child(1) p{
    width: 100%;
  }

  .detail-contact p{
    font-size: .9rem;
  } 




  /* question form */ 
  .question-form form button{
    width: auto;
    height: auto;

    font-size: 1rem;

    padding: .5rem 1.1rem;
  }
}

@media screen and (max-width:1000px){
  /* hero section */
  .contact-container .hero-image img{
    height: 400px;
    width: 100%;

    object-fit: cover;
  }
   
}

@media screen and (max-width:800px){
  /* contact information */
  .contact-information{
    height: auto;
    margin-top: 4rem; 

    flex-direction: column;
    gap: 2rem;
  }

  .contact-information .detail-contact{
    padding: 0;
    height: 150px;  
    width: 80%;   
  }

  .contact-information .detail-contact:nth-child(3){
    justify-content: end; 
  }

  .detail-contact:nth-child(1)::before,
  .detail-contact:nth-child(3)::before{
    height: 2px;
    width: 60%;

    left: 50%;
    transform: translateX(-50%);
  }

  .detail-contact:nth-child(1)::before{ 
    top: 100%;
  }

  .detail-contact:nth-child(3)::before{ 
    top: -10px;
  }
 

  .contact-icon{
    height: auto;
    gap: 1.2rem;
    margin-bottom: 1rem;
  }

  .contact-icon h4{
    font-size: 1rem;
  }

  .contact-icon .icon img{
    height: 36px;
  }

  .detail-contact:nth-child(3) .contact-icon .icon img{
    height: 26px;
  }

  .detail-contact p{
    font-size: .8rem;
  }

    /* question form */
    .question-form{
      margin-top: 5rem ;
    }

    .question-form h4{
      font-size: 3vw;
    }

    .question-form form{
      margin: 3rem 0;
    }

    .question-form form input{
      font-size: 1rem;
    }
}

@media screen and (max-width:500px){
  /* hero section */
  .contact-container .about-page h2{
    font-size: 2.3rem;
  }

  .contact-container .about-page section p{
    font-size: .9rem;
    line-height: 25px;
    max-width: 85%;
  }

  /* contact information */
  .contact-information .detail-contact{
    height: 130px;
  }

  .detail-contact:nth-child(1)::before, 
  .detail-contact:nth-child(3)::before{
    width: 80%;
  }

  /* question form */
  .question-form h4{
    font-size: .9rem;
  }

  .question-form form button{
    font-size: .8rem;
    letter-spacing: 2px;
  }

  .question-form form input{
    font-size: .8rem;
    border-bottom: 1.8px solid var(--primary-color);
  }

}

@media screen and (max-width:400px){
  /* hero section */
  .contact-container .about-page h2{
    font-size: 2rem;
  }

  .contact-container .about-page section p{
    font-size: .8rem;
    line-height: 20px; 
  }
}